.container{
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    position: relative;
}

.container input{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #c0e5f3;
    color: #2C2C2C;
}

.container .btnBusca{
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.suggestionsContainer{
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    background-color: #1E3A5F;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 10px;
}

.suggestionsContainer .suggestionsList{
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 210px;
    overflow-y: auto;
}

.suggestionsContainer .suggestionsList .suggestionsItem{
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.suggestionsContainer .suggestionsList .suggestionsItem:last-child{
    border-bottom: none;
}

.suggestionsContainer .suggestionsList .suggestionsItem:hover{
    background-color: #b0e0e694;
}

@media (max-width: 480px){
    .container{
        max-width: 350px;
    }

    .container input{
        padding: 8px 10px;
        padding-right: 40px;
    }

    .container .btnBusca{
        top: 8px;
    }

    .suggestionsContainer{
        padding: 8px;
        max-height: 200px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .container{
        max-width: 450px;
    }

    .suggestionsContainer .suggestionsList{
        max-height: 210px;
    }
}

@media (min-width: 1025px){
    .container{
        max-width: 900px;
    }

    .suggestionsContainer{
        max-width: 100%;
    }
}