@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root{
  --corFundo: #f0f0f0;
  --corPrimaria:#1E3A5F;
  --corSecundaria: #c0e5f3;
  --corSol: #FFD966;
  --corFrio: #B0E0E6;
  --corNublado: #A9A9A9;
  --cortxt: #2C2C2C;
  --cortxt2: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.top{
  width: 100%;
  background-color: var(--corPrimaria);
  color: #fff;
  padding: 20px 0;
}

body{
  background-color: var(--corFundo);
}

h1{
  text-align: center;
  font-size: 24px;
}

@media (max-width: 480px){
  .top{
    width: 100%;
  }
}